.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(209, 199, 199);
  }

  #lang-btn{
    float: right;
    text-align: center;
    padding-right: 10px;
    color: white;
  }

  #lang-header{
    padding-top: 15px;
  }

  .my-logo-img{
    text-align: left;
  }

.closeBtn {
	background-color: transparent;
	border: none;
	width: 5%;
	float: right;
	color: black;
}

.logo-class{
	height: 50%;
  	width: 50%;
}
.Lang-area{
  background: #a64eee;
  padding-bottom: 50px;
}

.Language-Link{
  color: white;
  padding-top: 15px;
  padding-left: 1360px;
  
}

.lang-dropdown{
  background: #a64eee;
}

.lang-dropdown-option{
  background: #a64eee;
  color: white;
}